In [2]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Load the data from SQLite database
db_path = "tickets.db"  # Ensure this path is relative to the notebook's location
conn = sqlite3.connect(db_path)

# Query the "timeseries" table
df = pd.read_sql_query("SELECT * FROM timeseries", conn)

# Close the database connection
conn.close()

# Display the first few rows of the data
print("Sample Data:")
df.head()

Sample Data:

      Ski Day valid_tickets
0  2016-12-07           112
1  2016-12-08          1769
2  2016-12-09          4230
3  2016-12-10          5952
4  2016-12-11          5451

In [3]:

# Summary statistics
print("\nSummary Statistics:")
df.describe()

# Check for null values
print("\nNull Values:")
df.isnull().sum()

Summary Statistics:

Null Values:

Ski Day          0
valid_tickets    0
dtype: int64